<div class="jumbotron jumbotron-fluid">
    @if (Movies == null)
    {
        <label><small class="text-muted">Buscando películas</small></label>
        <img src="/img/loading.gif" height="" width="">
    }else
    {
    <div class="container-fluid">
        <div class="row mb-3">
            @foreach (var movie in Movies)
            {
                <div class="col-md-4">
                    <div class="card flex-md-row mb-4 box-shadow h-md-300">
                        <div class="card-body d-flex flex-column align-items-start">
                            <div class="card">
                                <img src="@movie.Image" alt="img-thumbnail card-img-top" height="300px" width="200px">
                                <div class="card-body">
                                    <h6 class="card-title">@movie.Name</h6>
                                    <p class="text-muted">
                                        @movie.Sinopsis
                                        <br>
                                        @movie.Category
                                        <br>
                                        <small>@movie.Casting</small>
                                        <br>
                                        <small>@movie.Premier</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <p>More info</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
        </p>
    </div>
    }
</div>

@code{
    public List<Movie> Movies;
    private List<Movie> GetMovies()
    {
        return new List<Movie>()
        {
            new Movie(){Name="Archer", Sinopsis="Trama de la película...", Image="/img/movies/poster_archer.jpg", Premier=new DateTime(2021, 10, 15), Category=new Category(), Casting=new Casting()},
            new Movie(){Name="Back to the future", Sinopsis="Trama de la película...", Image="/img/movies/poster_backToTheFuture.jpg", Premier=new DateTime(2021, 10, 15), Category=new Category(), Casting=new Casting()},
            new Movie(){Name="Joker", Sinopsis="Trama de la película...", Image="/img/movies/poster_joker.jpg", Premier=new DateTime(2021, 10, 15), Category=new Category(), Casting=new Casting()},
            new Movie(){Name="Wolverine I", Sinopsis="Trama de la película...", Image="/img/movies/poster_wolverine.jpg", Premier=new DateTime(2021, 10, 15), Category=new Category(), Casting=new Casting()},
            new Movie(){Name="Wolverine II", Sinopsis="Trama de la película...", Image="/img/movies/poster_wolverine_2.jpg", Premier=new DateTime(2021, 10, 15), Category=new Category(), Casting=new Casting()},
            new Movie(){Name="World War Z", Sinopsis="Trama de la película...", Image="/img/movies/poster_worldWarZ.jpg", Premier=new DateTime(2021, 10, 15), Category=new Category(), Casting=new Casting()},
            new Movie(){Name="Antman", Sinopsis="Trama de la película...", Image="/img/movies/poster_antman.jpg", Premier=new DateTime(2021, 10, 15), Category=new Category(), Casting=new Casting()},
            new Movie(){Name="After", Sinopsis="Trama de la película...", Image="/img/movies/poster_after.jpg", Premier=new DateTime(2021, 10, 15), Category=new Category(), Casting=new Casting()},
            new Movie(){Name="Star Trek", Sinopsis="Trama de la película...", Image="/img/movies/poster_starTrek.jpeg", Premier=new DateTime(2021, 10, 15), Category=new Category(), Casting=new Casting()},
            new Movie(){Name="Suicide Squad", Sinopsis="Trama de la película...", Image="/img/movies/poster_suicideSquad.jpg", Premier=new DateTime(2021, 10, 15), Category=new Category(), Casting=new Casting()}
        };
    }

    @* Incluir tiempo de espera para cargar el contenido del componente *@
    protected override async Task OnInitializedAsync(){
        await Task.Delay(2000);
        Movies = GetMovies();
    }
}