<div class="jumbotron">
    <div class="container">
        <div class="container-fluid">
            <div class="row mb-3">
                @foreach (var movie in Movies)
                {
                    <div class="card group">
                        <div class="card flex-md-row mb-4 box-shadow h-md-300">
                            <div class="card-body align-items-start">
                                <div class="card">
                                    <img src="@movie.Image" class="rounded mx-auto d-block" alt="img-thumbnail card-img-top"
                                    height="300px" width="200px">
                                    <div class="card-body">
                                        <h6 class="card-title">@movie.Name</h6>
                                        <p class="text-muted">
                                            @movie.Sinopsis
                                            <br>
                                            @movie.Category
                                            <br>
                                            <small>@movie.Casting</small>
                                        </p>
                                        <div class="card-footer">
                                            <small class="text-muted">@movie.Premier</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public List<Movie> Movies { get; set; }
}