@page
@model HospiEnCasa.App.Frontend.Pages.Pacientes.Signos.AddModel
@{
    int idPaciente = Model.Paciente.Id;
}

<h1>Signos vitales del Paciente No. @Model.Paciente.Id</h1>
<h2>@Model.Paciente.Nombre @Model.Paciente.Apellido</h2>

<form action="" method="post">
    <input type="hidden" asp-for="Paciente.Id">
    <div class="form-froup">
        <label asp-for="Paciente.SignosVitales">Fecha</label>
        <input asp-for="Paciente.SignosVitales" class="form-control">
        <span class="text-danger" asp-validation-for="Paciente.SignosVitales"></span>
    </div>
    <div class="form-froup">
        <label asp-for="Paciente.SignosVitales"></label>
        <input asp-for="Paciente.SignosVitales" class="form-control">
        <span class="text-danger" asp-validation-for="Paciente.SignosVitales"></span>
    </div>
    <div>
        @* @foreach (var p in Model.Paciente)
        { *@
            <tr>
                @* <td>@Model.Paciente.SignosVitales.FechaHora</td>
                <td>@Model.Paciente.SignosVitales.TipoSigno</td>
                <td>@Model.Paciente.SignosVitales.Valor</td> *@
            </tr>
        @* } *@
    </div>
    <div class="form-froup">
        <label asp-for="Paciente.SignosVitales"></label>
        <input asp-for="Paciente.SignosVitales" class="form-control">
        <span class="text-danger" asp-validation-for="Paciente.SignosVitales"></span>
    </div>

    <button type="submit" class="btn btn-primary">Grabar</button>

</form>

<a asp-page="./Pacientes/Detail" class="btn-default">Regresar al Paciente</a>