@page
@model HospiEnCasa.App.Frontend.Pages.Pacientes.Signos.ListModel
@{
    int idPaciente = Model.Paciente.Id;
}

<h1>Signos Vitales del Paciente @Model.Paciente.Nombre @Model.Paciente.Apellido</h1>
<br>

<table class="table">
    <tr class="font-weight-bold">
        <td>Fecha y Hora</td>
        <td>Tipo Signo</td>
        <td>Valor</td>
    </tr>
    @foreach (var signo in Model.SignosPaciente)
    {
        <tr>
            <td>@signo.FechaHora</td>
            <td>@signo.TipoSigno</td>
            <td>@signo.Valor</td>
        </tr>
    }

</table>

<a asp-page="../Signos/Add" asp-route-idPaciente="@idPaciente" class="btn btn-primary">
    <i aria-hidden="true">Tomar Signos Vitales</i>
</a>
<a asp-page="../List" asp-route-idPaciente="@idPaciente" class="btn-default">
    <i aria-hidden="true">Regresar</i>
</a>