@page "/counter"

<h1>Movie DataBase</h1>

<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/img/banner_glass.jpg" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="/img/banner_catwoman.jpg" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="/img/banner_inception_2.jpg" class="d-block w-100">
    </div>
     <div class="carousel-item">
      <img src="/img/banner_theHobbit.jpg_2.jpg" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="/img/banner_worldWarZ.jpg" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="/img/banner_movie.jpg" class="d-block w-100">
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<br>

<br>

<div class="row row-cols-1 row-cols-md-3 g-4 mb-3">
    <div class="col">
        <div class="card mb-3 h-100" style="width: 18rem;">
            <img src="/img/poster_archer.jpg" class="card-img-top" alt="..." width="20" height="380">
            <div class="card-body">
                <h5 class="card-title">@movie1</h5>
                <p class="card-text">@sinopsisMovie1</p>
                <a href="#" class="btn btn-primary">Ver película</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-3 h-100" style="width: 18rem;">
            <img src="/img/poster_joker.jpg" class="card-img-top" alt="..." width="20" height="380">
            <div class="card-body">
                <h5 class="card-title">@movie2</h5>
                <p class="card-text">@sinopsisMovie2</p>
                <a href="#" class="btn btn-primary">Ver película</a>
            </div>
        </div>
    </div>
    
    <div class="col">
        <div class="card mb-3 h-100" style="width: 18rem;">
            <img src="/img/poster_backToTheFuture.jpg" class="card-img-top" alt="..." width="20" height="380">
            <div class="card-body">
                <h5 class="card-title">@movie3</h5>
                <p class="card-text">@sinopsisMovie3</p>
                <a href="#" class="btn btn-primary">Ver película</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card mb-3 h-100" style="width: 18rem;">
            <img src="/img/poster_wolverine.jpg" class="card-img-top" alt="..." width="20" height="380">
            <div class="card-body">
                <h5 class="card-title">@movie3</h5>
                <p class="card-text">@sinopsisMovie3</p>
                <a href="#" class="btn btn-primary">Ver película</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card mb-3 h-100" style="width: 18rem;">
            <img src="/img/poster_wolverine_2.jpg" class="card-img-top" alt="..." width="20" height="380">
            <div class="card-body">
                <h5 class="card-title">@movie3</h5>
                <p class="card-text">@sinopsisMovie3</p>
                <a href="#" class="btn btn-primary">Ver película</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card mb-3 h-100" style="width: 18rem;">
            <img src="/img/poster_worldWarZ.jpg" class="card-img-top" alt="..." width="20" height="380">
            <div class="card-body">
                <h5 class="card-title">@movie3</h5>
                <p class="card-text">@sinopsisMovie3</p>
                <a href="#" class="btn btn-primary">Ver película</a>
            </div>
        </div>
    </div>


</div>

<br>

<div class="mb-3">
    <input class="form-control form-control-sm" type="text" placeholder="Titulo de la película">
</div>

<div class="mb-3">
    <input class="form-control form-control-sm" type="text" placeholder="Género">
</div>

<div class="mb-3">
    <input class="form-control form-control-sm" type="text" placeholder="Titulo de la película">
</div>

<div class="mb-3">
  <label for="formFileSm" class="form-label">Small file input example</label>
  <input class="form-control form-control-sm" id="formFileSm" type="file">
</div>

<br>

<input type="file" name="" id="" class="form-control form-control-sm">

<div>
    <label class="form-label">Pelicula 1 - @FunctionsArrowClass.functionConvertMayus(movie1).</label>
    <label class="form-label">Pelicula 2 - @FunctionsArrowClass.functionConvertMinus(movie2).</label>
@*    <label class="form-label">Pelicula 3 @FunctionsArrowClass.functionConvertMayus(movie3).</label>*@ 
</div>

<div>
    <button class="btn btn-info" @onclick="@clickEventButton">Da click</button>
    <button class="btn btn-danger" @onclick="@clickEventCancel">Cancelar</button>
</div>

<br>

@* Ingresar un campo con un evento cuando se ingresa texto, 2 formas de hacerlo *@
@* <input value="@text" @oninput="e => text = e.Value.ToString()" /> *@
<input @bind="text" @bind:event="oninput" />
<p>@text</p>

@code{
    @* Decalración de variables *@
    public string movie1 = "Archer";
    public string movie2 = "Joker";
    public string movie3 = "Back to the Future";
    public string sinopsisMovie1 = "Great movie about a girl with a bow.";
    public string sinopsisMovie2 = "Joker with a full theme movie.";
    public string sinopsisMovie3 = "BACK TO THE FUTURE";
    public string text;

    @* Declaración de clases *@
@*     public public class functionArrowClass
    {
        @* Funciones flecha estructura:
        variable(parametros) => instrucciones;
        public static functionConvertMayus(string value) => value.ToUpper();
        public static functionConvertMinus(string value) => value.ToLower();

    } *@

    @* Funciones flecha estructura:
        variable(parametros) => instrucciones;
    public string functionConvertMayus(string value) => value.ToUpper();
    public string functionConvertMinus(string value) => value.ToLower(); 
     *@

    @* Métodos *@
    public void clickEventButton(){
        Console.WriteLine("Has dado click en el botón");
    }

    public void clickEventCancel(){
        Console.WriteLine("Cancelaste el proceso");
    }
}