@page
@model HospiEnCasa.App.Frontend.Pages.DetailModel
@{
    int idPaciente = Model.Paciente.Id;
}

<h1>Detalles del paciente No. @Model.Paciente.Id</h1>
<br>

<div class="container">
    <div class="row">
        <div class="col">

            <table class="table">
                <tr class="font-weight-bold">
                    <tr>
                        <th>Nombres</th>
                        <th>@Model.Paciente.Nombre</th>
                    </tr>
                    <tr>
                        <th>Apellidos</th>
                        <th>@Model.Paciente.Apellido</th>
                    </tr>
                    <tr>
                        <th>Tipo de documento</th>
                        <th>@Model.Paciente.TipoDocumento</th>
                    </tr>
                    <tr>
                        <th>Documento</th>
                        <th>@Model.Paciente.Documento</th>
                    </tr>
                    <tr>
                        <th>Género</th>
                        <th>@Model.Paciente.Genero</th>
                    </tr>
                    <tr>
                        <th>FechaNacimiento</th>
                        <th>@Model.Paciente.FechaNacimiento.ToString("yyy-MM-dd")</th>
                    </tr>
                    <tr>
                        <th>Geolocalización</th>
                        <th>[ @Model.Paciente.Latitud N, @Model.Paciente.Longitud E ]</th>
                    </tr>
                    <tr>
                        <th>Teléfono</th>
                        <th>@Model.Paciente.Telefono</th>
                    </tr>
                    <tr>
                        <th>Plan Médico</th>
                        <th>@Model.Paciente.PlanMedico</th>
                    </tr>
                    <tr>
                        <th>Familiar designado</th>
                        <th>@* <a href="/Pacientes/Familiares/Detail?idfamiliardesignado=@Model.FamiliarDesignado.Id">@Model.FamiliarDesignado.Nombre @Model.FamiliarDesignado.Apellido</a> *@</th>
                    </tr>
                    <tr>
                        <th>Enfermera</th>
                        <th>@* <a href="/Enfermeras/Detail?idenfermera=@Model.Enfermera.Id">@Model.Enfermera.Nombre @Model.Enfermera.Apellido</a> *@</th>
                    </tr>
                    <tr>
                        <th>Médico tratante</th>
                        <th>@* <a href="/Medicos/Detail?idmedico=@Model.Medico.Id">@Model.Medico.Nombre @Model.Medico.Apellido</a> *@</th>
                    </tr>
                    <tr>
                        <th>História clínica</th>
                        <th>@Model.Paciente.HistoriaClinica</th>
                    </tr>
                </tr>

            </table>
        </div>
        <div class="col">
            <img src="@Model.Paciente.Foto" class="img-thumbnail" alt="...">
        </div>
    </div>
</div>


<br>
<a asp-page="./Edit" class="btn btn-primary" asp-route-idPaciente="@idPaciente">Editar Paciente</a>
<a asp-page="./Signos/List" class="btn btn-warning" asp-route-idPaciente="@idPaciente">Signos Vitales</a>
<a asp-page="./List" class="btn btn-secondary">Volver</a>